deepdiff==7.0.1
llvmlite==0.42.0
networkx==3.3
numba==0.59.1
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
pandapower==2.14.6
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0
six==1.16.0
tqdm==4.66.2
tzdata==2024.1
